/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  height: 150px
}

.flex-container{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  height: 602px;
  position: relative;
  transition: transform .5s ease-in-out;
  .drink{
    flex: 0 0 auto;
    margin: 0 5px;
    transition: transform .5s ease-in-out;
  }
}
.goBack, .goForward{
  border-radius: 50%;
}

.hidden{
  display: none;
}

.featured{
  display: inline-block;
  order: 3;
}

.next, .prev{
  display: inline-block;
  order: 3;
  filter: blur(5px);
}

.next{
  order: 4;
}
.prev{
  order: 2;
}

.twoNext, .twoFrom{
  display: inline-block;
  filter:blur(10px);
}
.twoNext{
  order: 5;
}
.twoFrom{
  order: 1;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
