/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  height: 250px
}

.flex-container{
  overflow-x: scroll;
  height: 602px;
}

.hidden{
  display: none;
}

.featured{
  display: inline-block;
}

.next, .prev{
  display: inline-block;
  filter: blur(5px);
}

.twoAway{
  display: inline-block;
  filter:blur(10px);
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
